@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
}
