<a href="/" style="text-decoration: none;">
    <div class="logo">
            <span class="logo__text">{{ with .Site.Params.Logo.logoText }}{{ . }}{{ else }}>{{ end }}</span>
            <span class="logo__cursor" style=
                  "{{ with.Site.Params.Logo.logoCursorDisabled }}visibility:hidden;{{ end }}
                   {{ with.Site.Params.Logo.logoCursorColor    }}background-color:{{ . }};{{ end }}
                   {{ with.Site.Params.Logo.logoCursorAnimate  }}animation-duration:{{ . }};{{ end }}">
            </span>
    </div>
</a>
